{% extends "base.html" %}

{% block content %}

  {% if post %}
      <p><strong>Href Value:</strong> {{ post.href_value }}</p>
      <p><strong>Name Facebook:</strong> {{ post.name_facebook }}</p>
      <p><strong>Ptit:</strong> {{ post.ptit }}</p>
      <p><strong>Birth of Date:</strong> {{ post.birth_of_date }}</p>
      <p><strong>Department:</strong> {{ post.department }}</p>
      <p><strong>Orientation:</strong> {{ post.orientation }}</p>
      <p><strong>Main Programming Language:</strong> {{ post.main_programming_language }}</p>
      <p><strong>Priority:</strong> {{ post.priority }}</p>
      <p><strong>Other Note:</strong> {{ post.other_note }}</p>
  {% else %}
      <p>Post not found.</p>
  {% endif %}

  <p>Thank you for viewing this post!</p>

{% endblock content %}